{% extends 'admin_index.html' %}
{% load static %}
{% block body %}
<div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>{% if pid %}Update{% else %}Add{% endif %} RTO</h5>
                    </div>
                    <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floating-label">State Name</label>
                                        <select class="form-control select2bs4" value="{{rto.state}}" name="state" style="width: 100%;" id="stateid" onchange="statefield()" required>
                                             <option value="">Select State</option>
                                             {% for i in mystate %}
                                             <option value="{{i.id}}" {% if i.id == rto.state.id  %}selected{% endif %}>{{i.name}}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="floating-label">City Name</label>
                                        <select class="form-control select2bs4" name="city" id="city" style="width: 100%;" value="{{rto.city}}" required>
                                             <option value="">Select City</option>
                                             {% for i in city %}
                                             <option value="{{i.id}}" {% if i.id == rto.city.id %}selected{% endif %}>{{i.cityname}}</option>
                                             {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="floating-label">Name of RTO</label>
                                        <input type="text" placeholder="Name of RTO" name="firstname" class="form-control" aria-describedby="emailHelp" value="{{rto.user.first_name}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="floating-label">Name of Nodal Officer</label>
                                        <input type="text" placeholder="Name of RTO Officer" name="nodalname" class="form-control" aria-describedby="emailHelp" value="{{rto.nodalname}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="floating-label">Address of RTO</label>
                                        <textarea type="text" rows="5" placeholder="Address of RTO" name="address" class="form-control" aria-describedby="emailHelp" required>{{rto.address}}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="floating-label">Username</label>
                                        <input type="text" placeholder="Enter State Name" name="username" class="form-control" aria-describedby="emailHelp" value="{{rto.user.username}}" required >
                                    </div>
                                    <div class="form-group">
                                        <label class="floating-label">Password</label>
                                        <input type="password" placeholder="Enter State Name" name="password" class="form-control" aria-describedby="emailHelp" value="{{rto.user.password}}" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn  btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script>
function statefield(){
    var stateid = document.getElementById('stateid').value;
    var url = "/city/?state="+stateid;
    $.get(url, function(data, status){
      $('#city').html(data);
    })
}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

{% endblock %}