{% extends 'admin_index.html' %}
{% load static %}
{% block body %}
<div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h5>User Change Password</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="floating-label">Current Password</label>
                                        <input type="text" name="pwd3" class="form-control" aria-describedby="emailHelp" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="floating-label">New Password</label>
                                        <input type="text" name="pwd2" class="form-control" aria-describedby="emailHelp" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="floating-label">Confirm Password</label>
                                        <input type="text" name="pwd1" class="form-control" aria-describedby="emailHelp" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn  btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}