{% extends 'admin_index.html' %}
{% load static %}
{% block body %}

<div class="row">
            <!-- table card-1 start -->
            <div class="col-md-12 col-xl-4">
                <a class="nav-link" href="/reg_user/">
                <!-- widget primary card start -->
                <div class="card flat-card widget-primary-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="feather icon-star-on"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{reg.count}}</h4>
                            <h6>Total Registered User</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget primary card end -->
            </div>
            <!-- table card-1 end -->
            <!-- table card-2 start -->
            <div class="col-md-12 col-xl-4">
                <a class="nav-link" href="/learninglist/?action=All">
                <div class="card flat-card widget-purple-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{ll.count}}</h4>
                            <h6>Total LL Application</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget-success-card end -->
            </div>
            <div class="col-md-12 col-xl-4">
                <a class="nav-link" href="/drivinglist/?action=All">
                <div class="card flat-card widget-primary-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{dl.count}}</h4>
                            <h6>Total DL Application</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget-success-card end -->
            </div>
        </div>
<div class="row">
            <!-- table card-1 start -->
            <div class="col-md-12 col-xl-4">
                <!-- widget primary card start -->
                <a class="nav-link" href="/view_rto/">
                <div class="card flat-card widget-purple-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="feather icon-star-on"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{rto.count}}</h4>
                            <h6>Listed RTO</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget primary card end -->
            </div>
            <!-- table card-1 end -->
            <!-- table card-2 start -->
            <div class="col-md-12 col-xl-4">
                <a class="nav-link" href="/view_state/">
                <div class="card flat-card widget-primary-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{state.count}}</h4>
                            <h6>Listed State</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget-success-card end -->
            </div>
            <div class="col-md-12 col-xl-4">
                <a class="nav-link" href="/view_city/">
                <div class="card flat-card widget-purple-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{city.count}}</h4>
                            <h6>Listed City</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget-success-card end -->
            </div>
        </div>
<div class="row">
            <!-- table card-1 start -->
            <div class="col-md-12 col-xl-4">
                <a class="nav-link" href="/contactlist/?action=unread">
                <div class="card flat-card widget-primary-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{unread.count}}</h4>
                            <h6>Unread Enquiry</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget-success-card end -->
            </div>
            <div class="col-md-12 col-xl-4">
                <a class="nav-link" href="/contactlist/?action=read">
                <div class="card flat-card widget-purple-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{read.count}}</h4>
                            <h6>Read Enquiry</h6>
                        </div>
                    </div>
                </div>
                </a>
                <!-- widget-success-card end -->
            </div>
        </div>

{% endblock %}