{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="row">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h3 align="center">Driving Licence</h3>
            <div class="card-header">
                <h5>Driving Licence</h5>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="floating-label">State Name</label>
                            <select class="form-control select2bs4" name="state" style="width: 100%;" id="stateid" onchange="statefield()" required>
                                <option value="">Select State</option>
                                {% for i in mystate %}
                                <option value="{{i.id}}" {% if request.GET.name == i.id|lower %}selected{% endif %}>{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="floating-label">Learning Licence Number</label>
                            <input class="form-control select2bs4" name="learningnumber" style="width: 100%;" value="{{data.learningnumber}}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="floating-label">City Name</label>
                            <select class="form-control select2bs4" name="city" style="width: 100%;" value="{{data.city}}" required>
                                <option value="">Select City</option>
                                {% for i in mycity %}
                                <option value="{{i.id}}">{{i.cityname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Photo</label>
                            <input type="file" class="form-control" name="image2" value="{{data.image2}}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="floating-label">Date Of Birth</label>
                            <input type="date" name="birth" class="form-control" aria-describedby="emailHelp" value="{{data.birth}}" required>
                        </div>
                        <div class="col-md-6">
                            <label class="floating-label">Father Name</label>
                            <input class="form-control select2bs4" name="father" style="width: 100%;" value="{{data.father}}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="floating-label">Education Qualification</label>
                            <input type="text" placeholder="Education Qualification" name="qualification" class="form-control" aria-describedby="emailHelp" value="{{data.qualification}}" required>
                        </div>
                         <div class="col-md-6">
                            <label class="floating-label">Permanent Address</label>
                            <textarea type="text" rows="5" placeholder="Permanent Address" name="peraddress" class="form-control" aria-describedby="emailHelp" required>{{data.peraddress}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="floating-label">Licence Type</label>
                            <select class="form-control select2bs4" name="licencetype" style="width: 100%;" value="{{data.licencetype}}">
                                <option value="">Choose Licence Type</option>
                                <option value="Two Wheeler" {% if data.licencetype == 'Two Wheeler' %}selected{% endif %}>Two Wheeler</option>
                                <option value="Three/For Wheeler" {% if data.licencetype == 'Three/For Wheeler' %}selected{% endif %}>Three/For Wheeler</option>
                                <option value="Heavy Motor vehicle" {% if data.licencetype ==  'Heavy Motor vehicle' %}selected{% endif %}>Heavy Motor vehicle</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="floating-label">Blood Group</label>
                            <input type="text" placeholder="Blood Group" name="blood" class="form-control" aria-describedby="emailHelp" value="{{data.blood}}" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="floating-label">Communication Address</label>
                            <textarea type="text" rows="5" placeholder="Communication Address" name="comaddress" class="form-control" aria-describedby="emailHelp" required>{{data.comaddress}}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn  btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function statefield(){
        stateid = document.getElementById('stateid').value;
        window.location = "?name="+stateid;
    }


</script>


{% endblock %}