{% extends 'admin_index.html' %}
{% load static %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Registered User</h1>
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-12">
<div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                      <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Reg Date</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in data %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                    <td>{{i.user.username}}</td>
                    <td>{{i.mobile}}</td>
                    <td>{{i.creationdate}}</td>
                    <td>
                         <a href="/learning_licence/{{i.id}}/">
                            <button type="button" class="btn btn-warning">LL&nbsp;Requests</i> </button>
                        </a>
                        <a href="/driving_licence/{{i.id}}/">
                            <button type="button" class="btn btn-primary">DL&nbsp;Requests</i> </button>
                        </a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
 </div>
{% endblock %}