{% extends 'rto_index.html' %}
{% load static %}
{% block body %}

<div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                    <div class="card-header">
                        <h4>{{request.GET.action}} Driving Licence Request</h4>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Application Number</th>
                                        <th>Rto Name</th>
                                        <th>Name</th>
                                        <th>Mobile Number</th>
                                        <th>Email</th>
                                        <th>Aadhaar Card</th>
                                        <th>Apply Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in data %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.drivingnumber}}</td>
                                        <td>{{i.city}}</td>
                                        <td>{{i.register.user.first_name}}</td>
                                        <td>{{i.register.mobile}}</td>
                                        <td>{{i.register.user.username}}</td>
                                        <td>
                                            {% if i.aadhaar_card %}
                                                <a href="{{ i.aadhaar_card.url }}" target="_blank">View</a>
                                            {% else %}
                                                Not Uploaded
                                            {% endif %}
                                        </td>
                                        <td>{{i.creationdate}}</td>
                                        <td>{{i.status}}</td>
                                        <td>
                                            <a href="{% url 'driving_detail' i.id %}">
                                                <button type="button" class="btn btn-success">View&nbsp;Details</i> </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}