{% extends 'rto_index.html' %}
{% block body %}
{% load static custom_tags %}


 <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <h4 class="card-title">Driving Licence B/w Reports</h4>
            </div>
            <div class="card-block">
            <div class="cantener">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">From Date:*</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="fromdate" value="{{fromdate}}" required>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">To Date:*</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="todate" value="{{todate}}" required>
                        </div>
                    </div><br><br><br>
                    <div align="center">
                       <button class="btn btn-primary py-1 px-3" type="submit">Submit</button>
                    </div>
                </form>
                    </div>
            </div>
        </div>
    </div>
</div>

{% if data %}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
<h4>B/w Dates {% if request.GET.type %}{{request.GET.type}}{% elif request.GET.action %}{{request.GET.action}}{% else %}report{% endif %} from "{{fromdate}}" to "{{todate}}"</h4>

        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                    <th>#</th>
                    <th>Application Number</th>
                    <th>Rto Name</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Apply Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.drivingnumber}}</td>
                    <td>{{i.city}}</td>
                    <td>{{i.register.user.first_name}}</td>
                    <td>{{i.register.mobile}}</td>
                    <td>{{i.register.user.username}}</td>
                    <td>{{i.creationdate}}</td>
                    <td>{{i.status}}</td>
                    <td>
                        <a href="{% url 'detail' i.id %}">
                            <button type="button" class="btn btn-success">View&nbsp;Details</i> </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
                </table>
            </div>
        </div>
{% elif data2 %}

<h3 align="center">Data not found</h3>
{% endif %}

        </div>
<!-- Basic Form Inputs card end -->
{% endblock %}