{% extends 'admin_index.html' %}
{% load static %}
{% block body %}

<div class="content-wrapper">

    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" style="color:blue">View {{request.GET.action}} Enquiry</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
</br></br>

    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-12">

<div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Creation date</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for i in data %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.mobile}}</td>
                    <td>{{i.creationdate}}</td>
                      <td>
                          <a href="{% url 'edit_contact' i.id %}">
                            <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                        </a>
                          <a href="{% url 'delete_contact' i.id %}" onclick="return confirm('Are you sure?')">
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                        </a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>

                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
 </div>


{% endblock %}